<a href="https://colab.research.google.com/github/Prachi2780/code1/blob/main/multiple_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [ ]:
dataset = pd.read_csv('Data.csv')               #read the csv file
X = dataset.iloc[:, :-1].values                 #separate the features(select all rows and colums except the last column)
y = dataset.iloc[:, -1].values                  #separate the dependent variable(select all rows of last column)

In [ ]:
dataset.info()                #to check if any null/missing values present abnd the type of data provided in each column
dataset.describe()            #5 point summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split                                                  #from scikit-learn library , model_selection module import train_test_split class
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)          #test size 20% , random state given so same outputs everytime

## Training the Multiple Linear Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()                               #create object of LinearRegression class
regressor.fit(X_train, y_train)                              #train the model(takes the training data as arguments, which can be one array in the case of unsupervised learning, or two arrays in the case of supervised learning)

LinearRegression()

## Predicting the Test set results

In [ ]:
y_pred = regressor.predict(X_test)                          #predicts output label of test dataset
np.set_printoptions(precision=2)                            #as floating numbers are taken we have taken only 2 digits after decimal point
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))           # concatenates 2 arrays after reshaping it to nx1 matrix

[[431.43 431.23]
 [458.56 460.01]
 [462.75 461.14]
 ...
 [469.52 473.26]
 [442.42 438.  ]
 [461.88 463.28]]

## Evaluating the Model Performance

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)                    #regression score function - co-efficient of determination

0.9325315554761303

fit() method will fit the model to the input training instances while predict() will perform predictions on the testing instances